<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/clubs"><img src="/img/logo.svg" alt ="logo" width="50" height="40" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/clubs">Clubs</a>
        </li>
		 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Leagues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Laliga</a></li>
            <li><a class="dropdown-item" href="#">Premier League</a></li>
            <li><a class="dropdown-item" href="#">Serie A</a></li>
            <li><a class="dropdown-item" href="#">Bundusliga</a></li>
            <li><a class="dropdown-item" href="#">Ligue 1</a></li>
          </ul>
        </li>
		<li class="nav-item">
          <a class="nav-link" aria-current="page" href="/clubs">Login</a>
        </li>
		  <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/clubs/new">Add Club</a>
        </li>
      </ul>
      <form class="d-flex my-2 form-inline" action="/clubs/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>